body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f6f6; /* Background color for the entire page */
  }
  
  header {
    background-color: #FFD700; /* KFC's signature color */
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    margin-bottom: 30px;
    background-color: #fff; /* Background color for each article */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  article h2 {
    color: #FF4500; /* KFC's orange color */
  }
  
  footer {
    background-color: #FFD700;
    padding: 10px;
    text-align: center;
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
#box-post{
    text-decoration: dashed;
}

